.navbar{
    background-color: chartreuse;
}

.logo{
    background-color: blue;
} 
.logo h2{
    color: orangered;
}
.wordings li{
    color: black;
}

.wordings li{
    box-decoration-break: inherit;
}
.grid-container{
    background-color: orange
}

.grid-container{
    text-decoration: wavy;
}
.fashion{
    background-color: gray;
}
.fashion h3{
    color: black;
}
.grid-container{
display: grid;
}